/* https://www.color-hex.com/color/add8e6 */
svg {
  background-color: #e8f4f8;
  /* background-color: #d4ebf2; */
}

/* .subunit.ST { fill: #ddc; }
.subunit.GT { fill: #cdd; }
.subunit.VN { fill: #cdc; }
.subunit.SN { fill: #dcd; }
*/
#menu{
  background-color: rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.2)
}

#nav_bar_top{
  /* background-color: #5c5b97; */
  /* background-color: #007d91!important; */
  background-color: #00A389!important;

  /* height: 7vh; */
  /* height: 10%; */
}
/* body {background-color: grey;} */
/* svg {background-color: white;} */

.node--0 {
  display: none;
}

.node--1 {
  display:none;
}

.view{
  cursor: pointer;
}

.multi-proj{
  position: absolute;
  z-index: 1;
  display: none;
  /* display:initial; */
  /* width:50px; */
  min-width:250px;
  height:50px;
  top: 5%;
  left:40%;
}

.project_collection{fill:red;}

/* #info_box_col{background-color:orange;} */

.flare_module{
  /* stroke: #fff; */
}

.tooltip_bubble {
    position: absolute;
    text-align: center;
    top:0;
    /* width: 60px; */
    /* height: 28px; */
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* padding: 2px; */
    font: 12px sans-serif;
    /* background: lightsteelblue; */
    /* background: white; */
    /* border: 1px solid black; */
    /* border-radius: 3px; */
    pointer-events: none;
}
